<header id="banner" class="scrollto clearfix" data-enllax-ratio=".5">
 <!--Banner Content-->
 <div id="banner-content" class="row clearfix">

        <div class="col-38">

            <div class="section-heading">
                <h2><b>{{header.headerTitle}}</b></h2>
                <h2>{{header.headerText}}</h2>
            </div>

            <!--Call to Action-->
            <a href="{{header.headerLink}}" class="button">{{header.headerButton}}</a>
            <!--End Call to Action-->

        </div>

</div><!--End of Row-->
</header>